@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-hero {
  color: rgba(0,0,0, 0.25);
  background-position: center;
  
  
  
}
.mainFont {
  font-family: "Fleur De Leah", cursive;
	color: whitesmoke;
	text-shadow: 5px 2px black;
}

.card-font {
  font-family: "Special Elite", cursive;
}

.banner {
  font-family: "Bebas Neue", cursive;
}

#root {
  background-color: black;
}