@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-hero {
  background-image: url(./img/andrea-donato-MNu0n-3BIKs-unsplash-lg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainFont {
  font-family: "Fleur De Leah", cursive;
	color: whitesmoke;
	text-shadow: 5px 2px black;
}